<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
	<route url="/admin" controller="Pages" action="index" />
	<route url="/admin/connexion" controller="Connexion" action="index" />
	<route url="/admin/([1-9]+[0-9]*)/tableau-de-bord" controller="dashboard" action="index" />
	<route url="/admin/session/creation" controller="dashboard" action="create_session" />
	<route url="/admin/session/recuperation" controller="dashboard" action="session_value" />
	<route url="/admin/([1-9]+[0-9]*)/formation/ajouter" controller="Formations" action="create" />

	<!-- Recupere toutes les categories -->
	<route url="/admin/([1-9]+[0-9]*)/categories/formations" controller="CategoriesFormations" action="index" />

	<!-- Ajout d'une categorie -->
	<route url="/admin/([1-9]+[0-9]*)/categories/formations/create" controller="CategoriesFormations" action="create" />
</routes>